@using Labor.ViewModels
@model Labor.ViewModels.FooterViewModel

<div style="background-color: silver; border: 1px solid gray; color: darkcyan; margin-top: 2px; padding-right: 10px; text-align: right;">

    @Model.CompanyName © @Model.Year
</div>